#maisons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4vh 0vh;
}

.maison-btn {
  color: var(--dark-text);
  padding: var(--normal);
  margin-right: 3vw;
  background-color: var(--white);
  border-radius: 5px;
  border: var(--border-button-color);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

.maison-btn img {
  margin: 0px 5px 0px 0px;
}

.maison-btn:hover {
  color: var(--white);
  border: var(--border-button-white);
  background-color: var(--primary-light);
  transition: 0.3s;
}

#reset {
  color: var(--white);
  padding: var(--normal);
  background-color: var(--primary);
  border-radius: 5px;
  border: var(--border-button-color);
  cursor: pointer;
  transition: 0.3s;
}

#reset:hover {
  color: var(--white);
  border: var(--border-button-white);
  background-color: var(--primary-light);
  transition: 0.3s;
}

main .research {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  min-height: 30vh;
  margin: 4vh 0vh;
}

main .research h1 {
  font-size: 6vh;
}

main .research h1 span {
  color: var(--primary);
}

main ul li img {
  width: 100%;
  border-radius: 5px;
}
