#register {
  background-color: var(--white);
  text-align: left;
  min-height: 40vh;
  padding: 0vh 5vh 5vh 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  text-align: left;
  transition: 0s;
}

#register #reg-form {
  width: 35%;
  min-height: 40vh;
  background-color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  border-radius: 0 0 5px 5px;
  border-left: 2px solid var(--primary);
  border-right: 2px solid var(--primary);
  border-bottom: 2px solid var(--primary);
}

#reg-form h2 {
  margin-top: 5vh;
  font-size: 6vh;
  text-align: left;
}

#register #reg-form p {
  margin: 10px 0px;
}

#register #reg-form input {
  border: 2px solid var(--black);
  margin-bottom: 2vh;
  padding: 2vh 7vh;
  border-radius: 5px;
  color: var(--primary);
  transition: 0.3s;
}

#register #reg-form input:focus {
  border: 2px solid var(--primary);
  outline: none;
  transition: 0.3s;
}

#register #reg-form input:focus::placeholder {
  opacity: 0;
  transition: 0.3s;
}
#register #reg-form input[type="submit"] {
  color: var(--white);
  padding: 2.5vh 4vh;
  background-color: var(--primary);
  border-radius: 5px;
  cursor: pointer;
  border: var(--border-button-color);
  transition: 0.3s;
}

#register #reg-form input[type="submit"]:hover {
  color: var(--white);
  border: var(--border-button-white);
  background-color: var(--primary-light);
  cursor: pointer;
  transition: 0.3s;
}

#reg-form a {
  margin: 15px;
}

/* VALIDATION */

.message-error {
  color: var(--white);
  position: absolute;
  left: 67%;
  top: 37%;
  background: var(--error);
  margin: 0 2vh;
  padding: 6vh 3vh;
  width: 20%;
  border-radius: 5px;
  display: none;
}

.message-error li {
  padding: 10px;
}

.message-success {
  color: var(--white);
  background-color: var(--success);
  padding: 0;
  border-radius: 5px;
  display: none;
}

input.success {
  background-color: var(--success);
}

input.error {
  background-color: var(--error);
}

.message-error.visible,
.message-success.visible {
  display: flex;
}
